{%- comment -%}
  This block registers the styles and settings forr the mobile header.
{%- endcomment -%}

{%- comment -%} Variable declarations {%- endcomment -%}
{%- liquid
  assign settings = block.settings

  assign has_border = settings.has_border
  assign border_color = settings.border_color

  assign menu_background_color = settings.menu_background_color
  assign menu_color = settings.menu_color

  assign secondary_menu = settings.secondary_menu
  assign secondary_menu_background_color = settings.secondary_menu_background_color
  assign secondary_menu_color = settings.secondary_menu_color

  assign border_styles = ''
-%}

{%- comment -%} Logic {%- endcomment -%}
{%- liquid
  if has_border == 'yes'
    assign border_color = border_color | color_to_rgb
    assign border_styles = '1px solid ' | append: border_color
  endif
-%}

<style id="hc_custom_mobile-styles">
  drawer-menu drawer-menu-page drawer-menu-page-link {
      {% if has_border == "yes" %}
        border-bottom: {{- border_styles -}};
        border-radius: 0 !important;
      {% endif %}
  }

  {% if menu_background_color != blank %}
    drawer-menu drawer-menu-page .drawer-menu__content {
      background-color: {{- menu_background_color | color_to_hsl -}};
    }
  {% endif %}

  {% unless menu_color == blank %}
    drawer-menu drawer-menu-page .drawer-menu__content {
      color: {{- menu_color | color_to_hsl -}}
    }
  {% endunless %}
</style>

{%- comment -%} Create Secondary menu {%- endcomment -%}
{%- unless secondary_menu == blank -%}
  <style>
    .drawer-menu__list.drawer-menu__list-secondary {
      flex: 1;
      background-color: {{ secondary_menu_background_color | color_to_hsl }};
      color: {{ secondary_menu_color | color_to_hsl }};
    }
  </style>
  <template id="hc_secondary_menu">
    <div
      class="drawer-menu__list drawer-menu__list--without-mega-menu drawer-menu__list-secondary"
      id="hc_secondary_menu_drawer"
    >
      <div class="drawer-menu__list-inner">
        <div class="drawer-menu__list-body">
          {% for item in secondary_menu.links %}
            {%- liquid
              assign priv_title = item.title
              assign priv_handle = item.handle
              assign priv_url = item.url
            -%}
            <drawer-menu-page-link
              class="drawer-menu__menu-item"
              data-page-id="DrawerMenuPage-{{ priv_handle }}"
              tabindex="0"
              menu-title="{{ priv_title }}"
            >
              <a href="{{ priv_url }}">
                <span class="drawer-menu__menu-item-label"> {{ priv_title }} </span>
              </a>
            </drawer-menu-page-link>
          {% endfor %}
        </div>
      </div>
    </div>
  </template>

  <script src="{{ '0-secondary-mobile-menu.js' | asset_url }}" async defer></script>
{%- endunless -%}

{% schema %}
{
  "name": "t:Blocks.MobileStyles.Name",
  "target": "head",
  "settings": [
    {
      "type": "select",
      "id": "has_border",
      "label": "t:Settings.AddBorder.Info",
      "options": [
        {
          "value": "yes",
          "label": "t:Syntax.Yes"
        },
        {
          "value": "no",
          "label": "t:Syntax.No"
        }
      ],
      "default": "no"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "t:Settings.BorderColor.Info"
    },
    {
      "type": "color",
      "id": "menu_background_color",
      "label": "t:Settings.Colors.Background.Label",
      "info": "t:Settings.Colors.Background.Info"
    },
    {
      "type": "color",
      "id": "menu_color",
      "label": "Menu color",
      "info": "Menu color info"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary menu",
      "info": "Secondary menu info"
    },
    {
      "type": "color",
      "id": "secondary_menu_background_color",
      "label": "Secondary menu background color",
      "info": "Secondary menu background color info"
    },
    {
      "type": "color",
      "id": "secondary_menu_color",
      "label": "Secondary menu Color",
      "info": "Secondary menu color info"
    }
  ]
}
{% endschema %}
